.address,
.prospective-text {
    text-align: left;
}

.important-links h2{
    text-align: left;
}

.important-links a {
    color: #0066cc;
}

.important-links p {
    width: 35%;
    text-align: center;
}

.links-list{
    display: flex;
}