/* Slideshow */
.slideshow {
  max-width: 600px;
  margin: 30px auto;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.slideshow img {
  width: 100%;
  max-height: 330px;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease-in-out;
}